<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Pregunta 6</title>
</head>

<body>
	<div>
		<h1> ¿Cual es tu nivel de conocimento del CS:GO?</h1>
		<img src="img/pregunta6.jpg" alt="imagen encuesta" height="400" width="800">
		<form th:action="@{/pregunta6}" method="post">
			<p>¿Cual es el jugador con mas MVPs dados por HLTV.org ?<br>
				<input type="radio" name="p6" value="Correcto" required>Dev1ce</input>
				<input type="radio" name="p6" value="Error">S1mple</input>
				<input type="radio" name="p6" value="Error">ZywOo</input>
				<input type="radio" name="p6" value="Error">GeT_RiGhT</input><br>
			</p>
			<input type="submit" value="ENVIAR" />
		</form>
	</div>
</body>

</html>